.main-login-container{
    height: 100vh;
}

.container {
    width: 400px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #043E72;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333333;
    font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button {
    width: 100%;
    background: #043E72;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background: #0052a5;
}

.link {
    text-align: center;
    margin-top: 20px;
}

.link a {
    text-decoration: none;
    color: #043E72;
    font-weight: bold;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.hidden {
    display: none;
}